<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="net.pictoplanner.plugin.PlanbordCouch"
    version="1.0.0">

    <name>PlanbordCouchPlugin</name>

  <description>
    PlanbordCouch Plugin for Steroids.js
  </description>

  <asset src="www/PlanbordCouchPlugin.js" target="plugins/PlanbordCouchPlugin.js" />

  <engines>
    <engine name="cordova" version=">=2.7.0" />
  </engines>

  <!-- android -->
  <!-- <platform name="android">
    <config-file target="res/xml/config.xml" parent="plugins">
      <plugin name="Echo" value="com.appgyver.plugin.Echo"/>
    </config-file>

    <source-file src="src/android/com/appgyver/plugin/Echo.java"
      target-dir="src/com/appgyver/plugin" />
  </platform> -->

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*/plugins">
      <plugin name="PlanbordCouch" value="PlanbordCouch" onload="true" />
    </config-file>

    <config-file target="config.xml" parent="/widget">
      <feature name="PlanbordCouch">
        <param name="ios-package" value="PlanbordCouch"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/PlanbordCouch.h" />
    <source-file src="src/ios/PlanbordCouch.m" />

    <header-file src="src/ios/TouchDBController.h" />
    <source-file src="src/ios/TouchDBController.m" />

    <header-file src="src/ios/QueryResult.h" />
    <source-file src="src/ios/QueryResult.m" />

    <header-file src="src/ios/SSKeychain.h" />
    <source-file src="src/ios/SSKeychain.m" />

    <header-file src="src/ios/SSKeychainQuery.h" />
    <source-file src="src/ios/SSKeychainQuery.m" />
  </platform>
</plugin>