<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="net.pictoplanner.plugin.PlanbordCouch"
    version="1.0.0">

    <name>PlanbordCouchPlugin</name>

  <description>
    PlanbordCouch Plugin for Steroids.js
  </description>

  <asset src="www/PlanbordCouchPlugin.js" target="plugins/PlanbordCouchPlugin.js" />

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <!-- android -->
  <!-- <platform name="android">
    <config-file target="res/xml/config.xml" parent="plugins">
      <plugin name="Echo" value="com.appgyver.plugin.Echo"/>
    </config-file>

    <source-file src="src/android/com/appgyver/plugin/Echo.java"
      target-dir="src/com/appgyver/plugin" />
  </platform> -->

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*/plugins">
      <plugin name="PlanbordCouch" value="PlanbordCouch" onload="true" />
    </config-file>

    <config-file target="config.xml" parent="/widget">
      <feature name="PlanbordCouch">
        <param name="ios-package" value="PlanbordCouch"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <framework src="libsqlite3.dylib"/>
    <framework src="libstdc++.dylib"/>
    <framework src="libicucore.dylib"/>
    <framework src="libz.dylib"/>
    <framework src="Foundation.framework"/>
    <framework src="Security.framework"/>
    <framework src="CFNetwork.framework"/>
    <framework src="SystemConfiguration.framework"/>


    <source-file framework="true" src="CouchbaseLite.framework/CouchbaseLite"/>
    
    <header-file src="CouchbaseLite.framework/Headers/CBLAttachment.h"/>
    <header-file src="CouchbaseLite.framework/Headers/CBLAuthenticator.h"/>
    <header-file src="CouchbaseLite.framework/Headers/CBLDatabase.h"/>
    <header-file src="CouchbaseLite.framework/Headers/CBLDatabaseChange.h"/>
    <header-file src="CouchbaseLite.framework/Headers/CBLDocument.h"/>
    <header-file src="CouchbaseLite.framework/Headers/CBLGeometry.h"/>
    <header-file src="CouchbaseLite.framework/Headers/CBLJSON.h"/>
    <header-file src="CouchbaseLite.framework/Headers/CBLManager.h"/>
    <header-file src="CouchbaseLite.framework/Headers/CBLModel.h"/>
    <header-file src="CouchbaseLite.framework/Headers/CBLModelFactory.h"/>
    <header-file src="CouchbaseLite.framework/Headers/CBLQuery+FullTextSearch.h"/>
    <header-file src="CouchbaseLite.framework/Headers/CBLQuery+Geo.h"/>
    <header-file src="CouchbaseLite.framework/Headers/CBLQuery.h"/>
    <header-file src="CouchbaseLite.framework/Headers/CBLReplication.h"/>
    <header-file src="CouchbaseLite.framework/Headers/CBLRevision.h"/>
    <header-file src="CouchbaseLite.framework/Headers/CBLUITableSource.h"/>
    <header-file src="CouchbaseLite.framework/Headers/CBLView.h"/>
    <header-file src="CouchbaseLite.framework/Headers/CouchbaseLite.h"/>
    <header-file src="CouchbaseLite.framework/Headers/MYDynamicObject.h"/>
    <header-file src="CouchbaseLite.framework/PrivateHeaders/CBLReplication+Transformation.h"/>
    <header-file src="CouchbaseLite.framework/PrivateHeaders/CBLStatus.h"/>
    <header-file src="CouchbaseLite.framework/PrivateHeaders/CouchbaseLitePrivate.h"/>

    <resource-file src="CouchbaseLite.framework/Info.plist"/>
    


    <header-file src="src/ios/PlanbordCouch.h" />
    <source-file src="src/ios/PlanbordCouch.m" />

    <header-file src="src/ios/TouchDBController.h" />
    <source-file src="src/ios/TouchDBController.m" />

    <header-file src="src/ios/QueryResult.h" />
    <source-file src="src/ios/QueryResult.m" />

    <header-file src="src/ios/SSKeychain.h" />
    <source-file src="src/ios/SSKeychain.m" />

    <header-file src="src/ios/SSKeychainQuery.h" />
    <source-file src="src/ios/SSKeychainQuery.m" />

  </platform>
</plugin>